# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
.settings/
.classpath
.project

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# FAANG Custom Ignores
.env
bin/
out/
.kube
.cache/
__pycache__/
*.pyc

#
faang-secrets.yaml
